.home{
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../media/back-bg.jpg");
    background-size: cover;
    max-width: 100%;
    height: 100vh;
}

.welcome-note{
    color: white;
    font-style: italic;
    font-weight: bolder;
    font-family: "Bookman Old Style", serif;
    font-size: 5vw;
    padding-top: 20px;
    text-align: center;
}

.motto{
    color: burlywood;
    font-weight: bold;
    font-style: italic;
    padding-top: 20px;
    text-align: center;
    font-size: 2vw;
}

.login-card{
    width: 50%;
    height: auto;
    margin-left: 25%;
    margin-top: 10%;
}

.card-heading{
    width: 100%;
    height: auto;
    font-weight: bold;
    font-style: italic;
    font-family: "Times New Roman", cursive;
    font-size: 1.5vw;
}

.chat-box{
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../media/JACM4W.jpg");
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
    width: 100%;
    position: absolute;
    z-index: -2;

}

.chat-box-instruction{
    text-align: center;
    color: white;
}

.input-group1{
    width: 50%;
    margin-left: 25%;
}

.table12{
    color: white;
    margin-left: 25%;
    font-size: 1.2vw;
}

.loading{
    background-image: url("../media/final_6139e2090e6114013a6781ad_373084.gif");
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
    width: 100%;
    opacity: .82;
    position: absolute;
    z-index: 24;
}
